<div>
  <div class='col-md-7 col-md-offset'>
    <h2 id='login-header'>Welcome to
      <span id='CCCC'>CCCC</span></h2>
    <h3 id='login-header2'>Click the Lips or the link on the navigation tab to log in</h3>
    <h4 id='login-header3'>(currently defaulting to Rocky Horror)</h4>
    <img src='/images/loginlips.jpg'>
  </div>
  <div class='featured-shows col-md-8'>
  </div>
</div>
