<div>
  <div class='col-xs-7 col-xs-offset'>
    <h2 id='login-header'>Welcome to
      <span id='CCCC'>C4</span></h2>
    <h3 id='login-header2'>Click the Lips to log in</h3>
    <h4 id='login-header3'>(currently defaulting to Rocky Horror)</h4>
    <div class='lips'><a href="/auth/google"><img src='/images/loginlips.jpg'></a></div>
  </div>
  <div class='featured-shows col-xs-8'>
  </div>
</div>
