<div class='container'>
  <div class="row">
    <!-- <h1 class='showinfoheader'>Show Information</h1> -->
    <h2 class='castName'>{{selectedShow.castName}}</h2>
    <div class='col-xs-offset-2 col-xs-7'>
      <img ng-src='{{selectedShow.viewUrl}}' class="eventsimg">
      <div class='thatinfobox'>
        <div class='col-xs-offset-1 otherinfo'>{{selectedShow.otherinfo}}</div>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset viewbox">
      <div class='boxblock'>
        <ul class='desiredinfo'>
          <li>Theater: {{selectedShow.theater}}</li>
          <br>
          <li>{{selectedShow.address}},
            <br>{{selectedShow.city}}, {{selectedShow.st}}<br> {{selectedShow.zipCode}}</li>
          <hr>
          <li>Show Time: {{selectedShow.day}}, {{selectedShow.time}}</li>
          <hr>
          <li>Phone Number: {{selectedShow.contactNumber}}</li>
          <hr>
          <li>Organizer Email: {{selectedShow.contactEmail}}</li>
          <hr>
          <div>
            <button class='btn btn-danger' ng-click="myShowToFavorite(selectedShow, show)">Add To Favorites</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
